body{
    background-color: #eeeeee;
  }
  
  a{
    color: #fff !important;
  }
  
  textarea{
    resize: none;
  }
  
  
  /* Classes */
  .page_container{
    padding: 2% 15%;
  }
  
  /* Navbar */
  .navbar__style{
    background-color: #46244C;
  }
  
  
  /* Home Page */
  .quotes-home-icon{
    color: #46244C;
    font-size: 3rem;
  }
  .register__btn{
    border: 1px solid #46244c;
    color: #46244C !important;
  }
  .purple__btn{
    background-color: #46244C;
    color: #FFF;
  }
  .purple__btn:hover{
    background-color: #62256c !important;
    color: #FFF !important;
  }
  .register__btn:hover{
    border: 1px solid #62256c !important;
  }
  
  
  /* Quotes Page */
  .quote_content{
    border: 5px solid #eee;
    border-radius: 10px;
    color: #FFF;
    -webkit-text-stroke: 0.5px #333;
  }
  
  .quote__text{
    height: 200px;
    font-weight: 600;
  }

 .message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto; 
  background-color: rgb(158, 192, 204);
  text-align: center; 
}


.message-text {
  flex: 1;
  padding-right: 10px;
  font-size: 16px;
  text-align: left;
}

.remove-message {
  cursor: pointer;
  font-size: 20px;
  color: black;
} 


  
  /* Media Queries */
  @media screen and (max-width:991px) {
    .page_container {
      padding: 2% 7%;
    }
  }
  
  @media screen and (min-width:992px) {
    .navbar_container{
      padding-left: 15%;
      padding-right: 15%;
    }
  }